.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
.env.*.local

auto-imports.d.ts
components.d.ts

mock/rest/*/*/*/mock/response.txt
mock/rest/.validation.json
/test-results/
/test-out/
/playwright-report/
/playwright/.cache/
/screenshots/
*.xlsx
playwright-result*